{
	"root": true,

	"extends": "@ljharb",

	"ignorePatterns": [
		"browser.js",
	],

	"rules": {
		"func-style": "off",
		"global-require": "off",
	},

	"overrides": [
		{
			"files": "deps.js",
			"extends": "@ljharb/eslint-config/node/16",
		},
		{
			"files": "test/preprocessor.js",
			"rules": {
				"new-cap": ["error", {
					"capIsNewExceptions": [
						"TODO",
					],
				}],
			},
		},
		{
			"files": "test/**",
			"rules": {
				"complexity": "off",
				"max-lines-per-function": "off",
			},
		},
	],
}
